* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.content {
    width: 100%;
    height: calc(100% - 98px);
    position: fixed;
    top: 50px;
    left: 0;
    display: none;
}

.full-views {
    width: 100%;
    height: 100vh;
    position: relative;
}