.location {
    background-color: $colorLocation-red;
    position: absolute;
    width: $widthLocation-big;
    height: $heightLocation-big;
    &::before {
        position: absolute;
        content: "";
        height: 0;
        width: 0;
        border: 16px solid transparent;
        margin-left: -16px;
        margin-top: 0;
        border-top-color: $colorLocation-border-red;
        border-left: 0;
        top: $heightLocation-big;
        left: $widthLocation-big;
    }
    &__area {
        position: absolute;
        top: 10px;
        left: 50px;
        width: 160px;
        font-size: 16px;
        margin: 0;
        pointer-events: none;
    }
    &__country {
        position: absolute;
        bottom: -2px;
        left: 50px;
        width: 160px;
        font-weight: $fontW-1;
        font-size: 20px;
        margin: 0;
        pointer-events: none;
    }
    &__weather {
        .temperature {
            width: 100%;
            height: $heightLocation-big/2;
            .temperature__content {
                color: $colorTemp-white;
                padding-left: 2px;
                font-weight: 300;
                font-size: 25px;
                line-height: 10px;
                margin: 0;
                text-align: center;
            }
        }
    }
}

.location-country-main {
    position: absolute;
    bottom: 50%;
    right: 50%;
    animation-timing-function: $trans-1;
    z-index: 100;
    .location-icon {
        background-color: $colorLocation-red;
        position: absolute;
        bottom: 0;
        right: 0;
        width: $widthLocation-main;
        height: $heightLocation-main;
        animation: animatedIconMain 1s;
        transition: all 0.5s;
        cursor: pointer;
        &::before {
            transition: all 0.5s;
            position: absolute;
            content: "";
            animation: animatedBefore 1.5s;
            height: 0;
            width: 0;
            border: 16px solid transparent;
            margin-left: -16px;
            margin-top: 0;
            border-top-color: $colorLocation-border-red;
            border-left: 0;
            top: $heightLocation-main;
            left: $widthLocation-main;
        }
        .location__weather {
            height: 100%;
            overflow: hidden;
            .temperature {
                width: 100%;
                height: $heightLocation-main/2;
                .temperature__content {
                    text-align: center;
                    color: $colorTemp-white;
                    padding-left: 2px;
                    font-weight: $fontW-1;
                    font-size: 25px;
                    margin: 0;
                }
            }
        }
        .icon {
            width: $widthLocation-main;
            height: $heightLocation-main/2;
            overflow: hidden;
        }
    }
    .location-content {
        transition: all 0.5s;
        animation: contentLocation 1.5s;
        .location__area {
            position: absolute;
            top: -40px;
            left: 5px;
            width: 160px;
            font-size: 16px;
            margin: 0;
            pointer-events: none;
        }
        .location__country {
            position: absolute;
            bottom: -5px;
            left: 5px;
            width: 210px;
            font-weight: $fontW-1;
            font-size: 20px;
            margin: 0;
            pointer-events: none;
        }
    }
}

.location-country-child {
    @extend .location-country-main;
    .location-icon {
        background-color: $colorLocation-blue;
        width: $widthLocation-main*2.5/3;
        height: $heightLocation-main*2.5/3;
        animation: animatedIconChild 1s;
        &::before {
            border-top-color: $colorLocation-border-blue;
            top: $heightLocation-main*2.5/3;
            left: $widthLocation-main*2.5/3;
        }
        &:hover {
            width: $widthLocation-main*2.5;
            height: $heightLocation-main*2;
            &::before {
                top: $heightLocation-main*2;
                left: $widthLocation-main*2.5;
            }
            .location__weather {
                display: none;
            }
            .location__event {
                display: block;
            }
        }
        .location__event {
            display: none;
            height: 100%;
            width: 100%;
            overflow: hidden;
            div {
                width: 100%;
                height: calc(100% / 3);
                border-bottom: 0.5px solid $colorBorder-nav;
                &:hover {
                    background-color: #ffffff33;
                }
                p {
                    line-height: calc(100% / 3);
                    text-align: center;
                    color: white;
                    margin: 0;
                }
            }
        }
        .location__weather {
            .temperature {
                height: $heightLocation-main*2.5/3/2;
                .temperature__content {
                    padding-left: 2px;
                    font-weight: 300;
                    font-size: 20px;
                    margin: 0;
                }
            }
        }
        .icon {
            width: $widthLocation-main*2.5/3;
            height: $heightLocation-main*2.5/3/2;
        }
    }
}

.location-country-none {
    @extend .location-country-child;
    .location-icon {
        cursor: pointer !important;
        background-color: $colorLocation-none;
        cursor: default;
        &::before {
            border-top-color: $colorLocation-border-none;
        }
        &:hover {
            width: $widthLocation-main*2.5/3*1.2;
            height: $heightLocation-main*2.5/3*1.2;
            &::before {
                top: $heightLocation-main*2.5/3*1.2;
                left: $widthLocation-main*2.5/3*1.2;
            }
            .location__weather {
                display: none;
            }
            .location__event {
                display: block;
            }
        }
        .location__event {
            div {
                width: 100%;
                height: 100%;
                border: none;
                background-color: transparent !important;
                div {
                    width: auto;
                    height: auto;
                    background-color: transparent !important;
                    p {
                        color: white;
                        line-height: 100%;
                    }
                }
            }
        }
    }
}

@keyframes animatedIconChild {
    0% {
        height: 0;
        width: 0;
    }
    70% {
        width: 2px;
        height: $heightLocation-main*2.5/3;
    }
    100% {
        height: $heightLocation-main*2.5/3;
        width: $widthLocation-main*2.5/3;
    }
}

@keyframes animatedIconMain {
    0% {
        height: 0;
        width: 0;
    }
    70% {
        width: 2px;
        height: $heightLocation-main;
    }
    100% {
        height: $heightLocation-main;
        width: $widthLocation-main;
    }
}

@keyframes animatedBefore {
    0% {
        opacity: 0;
        z-index: -1;
        transform: translateY(-50%);
    }
    70% {
        opacity: 0;
        z-index: -1;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        z-index: 1;
        transform: translateY(0);
    }
}

@keyframes contentLocation {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}