// LOCAITON
@mixin iconLocation ($color) {
    background-color: $color;
    width: $widthLocation-icon;
    height: $heightLocation-icon;

    &::before {
        position: absolute;
        content: "";
        height: 0;
        width: 0;
        border: 3px solid transparent;
        margin-left: -3px;
        margin-top: 0;

        @if $color==$colorLocation-red {
            border-top-color: $colorLocation-border-red;
        }

        @else if $color==$colorLocation-blue {
            border-top-color: $colorLocation-border-blue;
        }

        border-left: 0;
        top: 30px;
        left: 20px;
    }
}

