// FONTS
$fontCountry-big: 16px;
$fontCity-big:20px;
$fontTitle-home:30px;
$fontBtn-home :60px;
$fontLogo:35px;
$fontNav:25px;
$fontTxt-nav:16px;
$fontTitle-fly:40px;
$fontTxt: 16px;
// FONT WEIGHT
$fontW-1:700;
$fontW-2:1000;
// WIDTH
$widthLocation-big:40px;
$widthLocation-main:50px;
$widthLocation-icon:20px;
$widthItemNav:120px;
$witdhSide-right:3*$widthItemNav;
// HEIGHT
$heightLocation-big:60px;
$heightLocation-main:70px;
$heightLocation-icon:30px;
$heightNav:50px;
$heightInput:40px;
// MARGIN
$marginCont: 50px 0;
// PADDING
$paddingCont: 20px;
// COLOR
$colorLocation-red: #e33d25;
$colorLocation-border-red :#bc0202;
$colorLocation-blue:#508f9f;
$colorLocation-border-blue :#2e5a65;
$colorBtn-home:#e33d25;
$colorTxtBtn-home: white;
$colorTemp-white:white;
$colorLogo: #e33d25;
$colorBorder-nav:#ced4da;
$colorHover-nav:#e33d25;
$colorBGActive-nav:#e33d25;
$colorTxTActive-nav:white;
$colorBGSide-1:#454546;
$colorBGSide-2:#737271;
// TRANSITION CURBIZ
$trans-1:cubic-bezier(.09, 1.13, .08, .94);
// BTN ICON MAP
$w-h-icon-map:100px;